.user-profile {
    width: $user-profile-width;
    min-height: $user-profile-height;
    max-height: 515px;
    color: $black;
    resize: none;

    .profile-grey-bg {
        border-image-source: url(../../assets/flash/profile/grey-bg.png);
        border-image-slice: 6 6 6 6 fill;
        border-image-width: 6px 6px 6px 6px;
    }

    .profile-white-bg {
        border-image-source: url(../../assets/flash/profile/white_bg.png);
        border-image-slice: 6 6 6 6 fill;
        border-image-width: 6px 6px 6px 6px;
    }

    .profile-grey-bg-border {
        border-image-source: url(../../assets/flash/profile/grey_bg_border.png);
        border-image-slice: 6 6 6 6 fill;
        border-image-width: 6px 6px 6px 6px;
        max-height: 240px;
    }

    .badge-text {
        margin-left: auto; 
        margin-right: 0;
    }

    .user-container {
        border-right: 1px solid gray;

        .avatar-container {
            width: 75px;
            height: 120px;
        }
    }

    .rooms-button-container {
        border-top: 1px solid gray;
        border-bottom: 1px solid gray;
    }

    .user-relationship {
        height: 25px;

        .avatar-image-container {
            width: 50px;
            height: 50px;

            .avatar-image {
                top: 20px;
                right: -8pxpx;
            }
        }
    }

    .user-relationship-count {
        margin-top: 2px;
        margin-left: 5px;
        color: #939392 !important;
    }

    .user-groups-container {

        .layout-grid-item {
            width: 50px;
        }
    }

    .no-group-spritesheet {
        background: transparent url('../../assets/images/groups/no-group-spritesheet.png') no-repeat;

        &.image-1 {
            width: 95px;
            height: 136px;
            background-position: -3px -3px;
        }
        
        &.image-2 {
            width: 95px;
            height: 136px;
            background-position: -104px -3px;
        }
        
        &.image-3 {
            width: 95px;
            height: 136px;
            background-position: -205px -3px;
        }
    }    
}
