.nitro-use-product-confirmation {
    width: 350px;

    .product-preview {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 122px;
        height: 130px;
        background: url('@/assets/images/room-widgets/avatar-info/preview-background.png') no-repeat center;

        .pet-image {
            width: 122px;
            height: 130px;
        }

        .monsterplant-image {
            width: 122px;
            height: 130px;
            background: url('@/assets/images/room-widgets/furni-context-menu/monsterplant-preview.png') no-repeat center;
        }
    }
}

.nitro-infostand-container {
    position: absolute;
    right: 4px;
    bottom: $toolbar-height + 7px;
    pointer-events: none;
    z-index: $infostand-zindex;
    color: $white;

    .nitro-infostand {
        position: relative;
        min-width: 190px;
        max-width: 190px;
        z-index: $infostand-zindex;
	    pointer-events: auto;
        border-image-source: url(@/assets/flash/buttons/toggle_bg.png);
        border-image-slice: 6 6 6 6 fill;
        border-image-width: 6px 6px 6px 6px;
        font-family: Goldfish;
        font-size: 9px;

        .size-pets {
            font-size: 10px;
        }

        .form-control-sm {
            height: 20px;
            min-height: 20px;
            padding: 0.1rem 0.25rem;
            font-size: 9px;
        }

        .infostand-thumb-bg {
            border-image-source: url(@/assets/flash/infostand/thumb_bg.png);
            border-image-slice: 6 6 6 6 fill;
            border-image-width: 6px 6px 6px 6px;
        }

        .infostand-close {
            background: url(@/assets/flash/infostand/info_close.png);
            width: 13px;
            height: 13px;
            cursor: pointer;
        }

        .icon-petting {
            background: url('@/assets/flash/infostand/pets/petting.png');
            width: 13px;
            height: 18px;
            float: right;
            margin-left: 4px;
            margin-top: -4px;
        }

        .icon-happiness {
            background: url('@/assets/flash/infostand/pets/happiness.png');
            background-repeat: no-repeat;
            width: 18px !important;
            height: 18px;
            margin-top: 16px;
            margin-left: 3px;
            z-index: 1;
        }

        .icon-experience {
            background: url('@/assets/flash/infostand/pets/experience.png');
            background-repeat: no-repeat;
            width: 18px !important;
            height: 18px;
            margin-top: 16px;
            margin-left: 3px;
            z-index: 1;
        }

        .icon-energy {
            background: url('@/assets/flash/infostand/pets/energy.png');
            background-repeat: no-repeat;
            width: 18px !important;
            height: 18px;
            margin-top: 16px;
            margin-left: 3px;
            z-index: 1;
        }

        .icon-wellbeing {
            background: url('@/assets/flash/infostand/pets/wellbeing.png');
            background-repeat: no-repeat;
            width: 18px !important;
            height: 18px;
            margin-top: 16px;
            margin-left: 3px;
            z-index: 1;
        }

        .height-bar {
            height: 17px;
        }

        .body-image {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            max-width: 68px;
            border-radius: $border-radius;

            &.pet {
                max-width: 75px;
            }

            &.bot {
                background-image: url('@/assets/images/infostand/bot_background.png');
                background-repeat: no-repeat;
                background-position: center;
            }

            &.furni {
                background-color: transparent;
                margin-right: 0;
            }
        }

        .body-image-plant {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            max-width: 68px;
            height: 85px;
            max-height: 90px;
            border-radius: $border-radius;
        }

        .badge-image {
            width: 45px;
            height: 45px;
            margin: auto;
        }

        .motto-content {
            min-height: 18px;
            font-family: Goldfish;
            cursor: text;
        }

        .color-motto {
            color: #9EA39D;
        }

        .motto-input {
            width: 100%;
            height: 100%;
            font-size: 12px;
            padding: 0;
            outline: 0;
            border: 0;
            color: rgba($white, 1);
            position: relative;
            background: transparent;
            resize: none;
            font-size: 9px;

            &:focus {
                font-style: italic;
                color: #9EA39D;
            }
        }

        .flex-tags
        {
            flex-wrap: wrap;
            margin-bottom: -10px;

            .text-tags
            {
                padding: 2px;
                border-radius: 3px;
                background: #333;
                margin-right: 5px;
                margin-bottom: 10px;
                cursor: pointer;
            }
        }
    }

    .button-container {
	    pointer-events: auto;
    }

    .pet-stats {
        height: 18px;
    }
}

.infostand-name {
    cursor: pointer;

    &:hover {
        color: #91c2ff !important;
    }
}

.pet-training-window {
    width: 193px;
}
