.nitro-chat-history {
    background-color: #000000cc;
    position: absolute;
    padding-right: 20px;
    bottom: 0;
    top: 0;
    height: 100%;
    left: 0;
    width: 30vw;
    border-right: 1px solid #000;
    -webkit-box-shadow: inset -2px 0px 0px 0px #34322d;
    box-shadow: inset -2px 0px 0px 0px #34322d;

    .chat-history-content {
        width: 100%;
        background-color: #2e2e2c4f;
        border-right: 1px solid #3b3933;
        padding-bottom: 60px;
    }

    .chat-toggle {
        background-image: url(../../assets/flash/chathistory/chathistory_toggle.png);
        width: 15px;
        height: 63px;
        cursor: pointer;
        position: absolute;
        left: 100%;
        bottom: 140px;
        border-left: 1px solid black;
    }
}
