.nitro-inventory {
    width: $inventory-width;
    height: $inventory-height;
    min-width: 326px;
    color: #000;

    input {
        min-height: 20px;
        max-height: 20px;
    }

    &.trading {
        width: 535px;
        min-height: 505px;

        .trading-inventory {
            height: 200px;
        }
    }

    .empty-image {
        background: url('../../assets/images/inventory/empty.png');
        width: 129px;
        height: 181px;
    }

    .trade-button {
        min-height: 0;
        font-size: 8px;
        padding: 1px 2px;
        z-index: 5;
    }

    .trade-bg {
        border-image-source: url(../../assets/flash/inventory/trading_bg.png);
        border-image-slice: 15 15 15 15 fill;
        border-image-width: 15px 15px 15px 15px;
    }
}
