.nitro-inventory {
    height: $inventory-height;
    min-height: $inventory-height;
    max-height: $inventory-height + 150px;
    width: $inventory-width;
    min-width: $inventory-width;
    max-width: $inventory-width + 150px;
    color: #000;

    input {
        min-height: 20px;
        max-height: 20px;
    }

    &.trading {
        width: 535px;
        min-height: $inventory-height + 290px !important;

        .trading-inventory {
            max-height: 200px;
        }
    }

    .empty-image {
        background: url('@/assets/images/inventory/empty.png');
        width: 129px;
        height: 181px;
    }

    .trade-button {
        min-height: 0;
        font-size: 8px;
        padding: 1px 2px;
        z-index: 5;
    }

    .trade-bg {
        border-image-source: url('@/assets/flash/inventory/trading_bg.png');
        border-image-slice: 15 15 15 15 fill;
        border-image-width: 15px 15px 15px 15px;
        z-index: 1;
    }

    .credits-align {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 230px;
    }

    .quantity-input {
        width: 49px;
    }

    .lock-design-left {
        margin-left: 21px;
        margin-right: 33px;
    }

    .lock-design-right {
        margin-left: 21px;
    }

    .divisor {
        height: 180px;
        border-left: 2px solid #B4B4B4;
        margin-top: 15px;
    }
}

.calc-wrapper {
    width: 96%;
    height: calc(100% - 80px);
}

.size-list-badges {
    width: 315px;
}

.size-badges {
    width: 145px;
}
