.nitro-avatar-editor-spritesheet {
    background: url('../../assets/images/avatareditor/avatar-editor-spritesheet.png') transparent no-repeat;

    &.arrow-left-icon {
        width: 28px;
        height: 21px;
        background-position: -226px -131px;
    }
    
    &.arrow-right-icon {
        width: 28px;
        height: 21px;
        background-position: -226px -162px;
    }
    
    &.ca-icon {
        width: 25px;
        height: 25px;
        background-position: -226px -61px;

        &.selected, &:hover {
            width: 25px;
            height: 25px;
            background-position: -226px -96px;
        }
    }
    
    &.cc-icon {
        width: 31px;
        height: 29px;
        background-position: -145px -5px;

        &.selected, &:hover {
            width: 31px;
            height: 29px;
            background-position: -145px -44px;
        }
    }
    
    &.ch-icon {
        width: 29px;
        height: 24px;
        background-position: -186px -39px;

        &.selected, &:hover {
            width: 29px;
            height: 24px;
            background-position: -186px -73px;
        }
    }
    
    &.clear-icon {
        width: 27px;
        height: 27px;
        background-position: -145px -157px;
    }
    
    &.cp-icon {
        width: 30px;
        height: 24px;
        background-position: -145px -264px;

        &.selected, &:hover {
            width: 30px;
            height: 24px;
            background-position: -186px -5px;
        }
    }

    
    &.ea-icon {
        width: 35px;
        height: 16px;
        background-position: -226px -193px;

        &.selected, &:hover {
            width: 35px;
            height: 16px;
            background-position: -226px -219px;
        }
    }
    
    &.fa-icon {
        width: 27px;
        height: 20px;
        background-position: -186px -137px;

        &.selected, &:hover {
            width: 27px;
            height: 20px;
            background-position: -186px -107px;
        }
    }
    
    &.female-icon {
        width: 18px;
        height: 27px;
        background-position: -186px -202px;

        &.selected, &:hover {
            width: 18px;
            height: 27px;
            background-position: -186px -239px;
        }
    }
    
    &.ha-icon {
        width: 25px;
        height: 22px;
        background-position: -226px -245px;

        &.selected, &:hover {
            width: 25px;
            height: 22px;
            background-position: -226px -277px;
        }
    }
    
    &.he-icon {
        width: 31px;
        height: 27px;
        background-position: -145px -83px;

        &.selected, &:hover {
            width: 31px;
            height: 27px;
            background-position: -145px -120px;
        }
    }
    
    &.hr-icon {
        width: 29px;
        height: 25px;
        background-position: -145px -194px;

        &.selected, &:hover {
            width: 29px;
            height: 25px;
            background-position: -145px -229px;
        }
    }
    
    &.lg-icon {
        width: 19px;
        height: 20px;
        background-position: -303px -45px;

        &.selected, &:hover {
            width: 19px;
            height: 20px;
            background-position: -303px -75px;
        }
    }

    &.loading-icon {
        width: 21px;
        height: 25px;
        background-position: -186px -167px;
    }
    

    &.male-icon {
        width: 21px;
        height: 21px;
        background-position: -186px -276px;

        &.selected, &:hover {
            width: 21px;
            height: 21px;
            background-position: -272px -5px;
        }
    }
    

    &.sellable-icon {
        width: 17px;
        height: 15px;
        background-position: -303px -105px;
    }
    

    &.sh-icon {
        width: 37px;
        height: 10px;
        background-position: -303px -5px;

        &.selected, &:hover {
            width: 37px;
            height: 10px;
            background-position: -303px -25px;
        }
    }
    

    &.spotlight-icon {
        width: 130px;
        height: 305px;
        background-position: -5px -5px;
    }
    

    &.wa-icon {
        width: 36px;
        height: 18px;
        background-position: -226px -5px;

        &.selected, &:hover {
            width: 36px;
            height: 18px;
            background-position: -226px -33px;
        }
    }
}

.nitro-avatar-editor-wardrobe-figure-preview {
    border-image-source: url(../../assets/flash/avatareditor/wardrobe_user_bg.png);
    border-image-slice: 4 4 4 4 fill;
    border-image-width: 4px 4px 4px 4px;
    background-color: transparent;
    overflow: hidden;
    z-index: 1;

    .avatar-image {
        position: absolute;
        bottom: -15px;
        margin: 0 auto;
        z-index: 4;

    }

    .avatar-shadow {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 25px;
        width: 40px;
        height: 20px;
        margin: 0 auto;
        border-radius: 100%;
        background-color: rgba(0, 0, 0, 0.20);
        z-index: 2;
    }

    .button-container {
        position: absolute;
        bottom: 0;
        z-index: 5;
    }
}

.nitro-avatar-editor {
    width: $avatar-editor-width;
    height: $avatar-editor-height;

    .category-item {
        height: 40px;
    }

    .figure-preview-container {
        position: relative;
        height: 100%;
        overflow: hidden;
        z-index: 1;

        .arrow-container {
            position: absolute;
            width: 100%;
            margin: 0 auto;
            padding: 0 10px;
            display: flex;
            justify-content: space-between;
            bottom: 50px;
            z-index: 5;

            .arrow-left {
                background-image: url(../../assets/flash/avatareditor/rotation_arrow.png);
                width: 44px;
                height: 29px;
                margin-left: auto;
                margin-right: auto;
            }
    
            .icon {
                cursor: pointer;
            }
        }

        .avatar-image {
            position: absolute;
            left: 0;
            right: 0;
            bottom: 125px;
            margin: 0 auto;
            z-index: 4;
        }

        .avatar-shadow {
            position: absolute;
            left: 0;
            right: 0;
            bottom: 88px;
            width: 68px;
            height: 34px;
            margin: 0 auto;
            background: url(../../assets/flash/avatareditor/avatar_shadow.png);
            z-index: 2;
        }
    }
}

    .choose-clothing {
        width: 298px;
    }

    .color-picker-frame {
        border-image-source: url(../../assets/flash/avatareditor/color_frame.png);
        border-image-slice: 6 6 6 6 fill;
        border-image-width: 6px 6px 6px 6px;
        width: 13px;
        height: 19px;
        border-radius: 4px;

        &.active {
            border-image-source: url(../../assets/flash/avatareditor/color_frame_active.png);
            height: 21px;
            margin-top: -2px;
        }

        &:hover {
            border-image-source: url(../../assets/flash/avatareditor/color_frame_active.png);
            height: 21px;
            margin-top: -2px;
        }
    }

    .hc-icon {
        background-image: url(../../assets/flash/avatareditor/hc_icon.png);
        height: 9px;
        width: 10px;
        bottom: 2px;
        left: 2px;
    }

    .avatar-editor-tabs {
        position: relative;
        background-color: #1c3d4f !important;

        .nav-tabs .nav-link {
            position: relative;
            border-image-source: url(../../assets/flash/boxes/card/tabs_avatareditor.png);
            border-image-slice: 7 7 7 7 fill;
            border-image-width: 7px 7px 7px 7px;
            border-image-outset: 0px 0px 0px 0px;
            border-image-repeat: repeat repeat;
            margin-bottom: -2px;
            margin-left: -2px;
        }

        .nav-tabs .nav-link.active {
            border-image-source: url(../../assets/flash/boxes/card/tabs_active.png);
        }
    }

    .randomize-container {
        bottom: 95px;
        left: 330px;
        z-index: 2;
    }

    .randomize-icon {
        background-image: url(../../assets/flash/avatareditor/randomize_transparent.png);
        height: 33px;
        width: 39px;

        &:hover {
            background-image: url(../../assets/flash/avatareditor/randomize.png);
        }
    }

    .avatar-wardrobe {
        border-image-source: url(../../assets/flash/avatareditor/wardrobe_bg.png);
        border-image-slice: 6 6 6 6 fill;
        border-image-width: 6px 6px 6px 6px;
    }
