.nitro-mod-tools {
    width: $nitro-mod-tools-width;
    color: #000;
    height: 170px;
    font-size: 10px;
    padding-top: 10px;
    text-shadow: 0px 1px 0px #fff, 1px 0px 1px #aaaaaa;
}

.roomtoolicon {
    background-image: url(../../assets/flash/modtools/room.png);
    width: 16px;
    height: 17px;
}

.chatlogicon {
    background-image: url(../../assets/flash/modtools/chatlog.png);
    width: 17px;
    height: 21px;

}

.usericon {
    background-image: url(../../assets/flash/modtools/userinfo.png);
    width: 18px;
    height: 19px;
}

.ticketicon {
    background-image: url(../../assets/flash/modtools/tickets.png);
    width: 12px;
    height: 16px;
}

.mod-header {
    color: #000;
    padding: 9px 0px 0px 10px;
    font-size: 12px;
    height: 25px;
}

.nitro-mod-tools-room {
    width: 240px;

    .username {
        color: #1E7295;
        text-decoration: underline;
    }
}

.message-input {
    height: 50px;

    &::placeholder {
        font-family: Goldfish;
    }
}

.nitro-mod-tools-user {
    width: 350px;
    height: 370px;

    .username {
        color: #1E7295;
        text-decoration: underline;
    }

    .table {
        color: $black;
        font-family: Goldfish-Bold;

        > :not(caption) > * > * {
            box-shadow: none;
            border-bottom: none;
        }

        &.table-striped > tbody > tr:nth-of-type(odd) {
            color: $black;
            background: #cbebf8;
        }

        td {
            font-family: Goldfish;
        }
    }
}

.nitro-mod-tools-user-visits {
    min-width: 300px;

    .user-visits {
        min-height: 200px;
        
    }
}

.nitro-mod-tools-chatlog {
    width: 400px;
}

.nitro-mod-tools-user-visits {
    width: 250px;
}

.nitro-mod-tools-tickets {
    width: 400px;
    height: 200px;
}

.nitro-mod-tools-handle-issue {
    width: 400px;
}

.nitro-mod-tools-chatlog,
.nitro-mod-tools-user-visits {

    .log-container {
        min-height: 200px;

        .log-entry-container {

            .log-entry {

                &.highlighted {
                    border: 1px solid $red;
                }

                &:nth-child(odd) {
                    background-color: #cbebf8;
                }
            }

            &.highlighted {
                border: 1px solid $red;
            }
        }

        &:first-child {
            padding-top: 0;
        }
    }
}
