.nitro-widget-high-score
{
    border-image-source: url(../../../../../assets/flash/wired/highscore/bg.png);
    border-image-slice: 6 6 6 6 fill;
    border-image-width: 6px 6px 6px 6px;
    width: 250px;
    max-width: 250px;
    height: 325px;
    padding: 4px;
    pointer-events: all;

    .nitro-widget-high-score-header {
        background-color: #3f3f3f;
    }

    .score-board-header {
        border-image-source: url(../../../../../assets/flash/wired/highscore/header_lg_bg.png);
        border-image-slice: 4 4 4 4 fill;
        border-image-width: 4px 4px 4px 4px;
    }

    .high-score-results {
        border-image-source: url(../../../../../assets/flash/wired/highscore/black_bg.png);
        border-image-slice: 4 4 4 4 fill;
        border-image-width: 4px 4px 4px 4px;
        height: 240px;

    }

    .trophy {
        background-image: url(../../../../../assets/flash/wired/highscore/trophy.png);
        background-repeat: no-repeat;
        height: 24px;
        width: 29px;
        bottom: 1px;
        left: -5px;
    }

    .bottom-text {
        color: #707070;
        margin-top: -2px;
    }

    &:after {
        content: "";
        background-image: url(../../../../../assets/flash/wired/highscore/pointer.png);
        background-repeat: no-repeat;
        width: 11px;
        height: 9px;
        position: absolute;
        bottom: -6px;
        left: 0;
        right: 0;
        margin: auto;
    }

}
