$nitro-card-header-height: 33px;
$nitro-card-tabs-height: 35px;

.nitro-card {
    resize: both;

    @include media-breakpoint-down(lg) {
        max-width: 100vw !important;
        max-height: 100vh !important;
    }

    &.theme-primary {


        .nitro-card-header {
            border-image-source: url("../../assets/flash/boxes/card/top.png");
            border-image-slice: 7 fill;
            border-image-width: 7px;
            border-image-repeat: repeat repeat;
            color: #fff;
            height: 34px;
            min-height: 34px;
            line-height: 34px;
            justify-content: center;

            .nitro-card-header-holder {
            justify-content: center;
            }


            .nitro-card-header-text {
                color: $white;
            }

            .nitro-card-header-close {
                cursor: pointer;
                background-image: url("../../assets/flash/boxes/card/close.png");
                width: 19px;
                height: 20px;

                    &:hover {
                    background-image: url("../../assets/flash/boxes/card/close_hover.png");

                    &:active {
                    background-image: url("../../assets/flash/boxes/card/close_click.png");
                    }

                }
            }
        }

        .nitro-card-tabs {
            background-color: #feffff;
        }

        .content-area {
            border-image-source: url("../../assets/flash/boxes/card/body.png");
            border-image-slice: 33 7 8 7 fill;
            border-image-width: 0px 7px 8px 7px;
            border-image-repeat: repeat repeat;
        }
    }

    // MOD TOOL

&.theme-primary-modtool {
    border-image-source: url("../../assets/flash/boxes/card/mod_window.png");
    border-image-slice: 6 6 6 6 fill;
    border-image-width: 6px 6px 6px 6px;
    border-image-repeat: repeat repeat;

    .nitro-card-header {

        min-height: 25px;
        max-height: 25px;
        justify-content: left;


        .nitro-card-header-text {
            color: $black;
            min-height: 21px;
            font-size: 10px;
            padding-top: 10px;
            text-shadow: 0px 1px 0px #fff, 1px 0px 1px #aaaaaa;
        }

        .nitro-card-header-close {
            cursor: pointer;
            width: 20px;
            height: 20px;
            margin-top: 10px;
            background-image: url("../../assets/flash/boxes/card/mod_close.png");

            &:hover {
                filter: brightness(1.2);
            }
    
            &:active {
                filter: brightness(0.8);
            }
        }
    }
}

    // MESSENGER

    &.theme-messenger {
        border-image-source: url("../../assets/flash/boxes/card/mod_window.png");
        border-image-slice: 6 6 6 6 fill;
        border-image-width: 6px 6px 6px 6px;
        border-image-repeat: repeat repeat;
    
        .nitro-card-header {
    
            min-height: 25px;
            max-height: 25px;
            justify-content: left;
    
    
            .nitro-card-header-text {
                color: $black;
                min-height: 21px;
                font-size: 10px;
                padding-top: 10px;
                text-shadow: 0px 1px 0px #fff, 1px 0px 1px #aaaaaa;
            }
    
            .nitro-card-header-close {
                cursor: pointer;
                width: 20px;
                height: 20px;
                margin-top: 10px;
                background-image: url("../../assets/flash/messenger/close.png");

            }
        }
    }

    &.theme-primary-slim {
        border: $border-width solid $border-color;

        .nitro-card-header {
            position: relative;
            min-height: 28px;
            max-height: 28px;
            background: repeating-linear-gradient($tertiary, $tertiary 50%, $quaternary 50%, $quaternary 100%);
            border-bottom: 2px solid darken($quaternary, 5);
            box-shadow: 0 2px white;
            width: 100%;
            margin: 0;
            
            &:before {
                position: absolute;
                content: " ";
                top: 0;
                left: 0;
                width: 100%;
                height: 2px;
                background-color: rgba($white, 0.3);
            }

            .nitro-card-header-text {
                color: $white;
                min-height: 21px;
            }

            .nitro-card-header-close {
                cursor: pointer;
                padding: 0px 2px;
                line-height: 1;
                @include font-size($h7-font-size);
                border-radius: $border-radius;
                box-shadow: 0 0 0 1.6px $white;
                border: 2px solid #921911;
                background: repeating-linear-gradient(
                    rgba(245, 80, 65, 1),
                    rgba(245, 80, 65, 1) 50%,
                    rgba(194, 48, 39, 1) 50%,
                    rgba(194, 48, 39, 1) 100%
                );

                &:hover {
                    filter: brightness(1.2);
                }
        
                &:active {
                    filter: brightness(0.8);
                }
            }
        }

        .nitro-card-tabs {
            background-color: #feffff;
        }

        .content-area {
            background-color: $light;
        }
    }
}

.content-area {
    height: 100%;
    padding-top: $container-padding-x;
    padding-bottom: $container-padding-x;
    overflow: auto;

    &.theme-dark {
        background-color: #1C323F !important;
    }
}

@include media-breakpoint-down(lg) {
    .content-area {
        height: 100% !important;
        min-height: auto !important;
        max-height: 100% !important;
    }
}

.nitro-card-header {
    position: relative;
    height: 100%;
}

.nitro-card-tabs {
    min-height: $nitro-card-tabs-height;
    max-height: $nitro-card-tabs-height;
    border-bottom: $nav-tabs-border-width solid #000;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
}

.nav-tabs {
    margin-left: 10px;
}

.nitro-card-accordion-set {

    &.active {
        height: 100%;
        overflow: hidden;
        background: rgba($white, 0.5);
        border-bottom: 1px solid rgba($black, 0.2);
    }

    .nitro-card-accordion-set-header {
        border-bottom: 1px solid rgba($black, 0.2);
    }
}
