.nitro-friends-spritesheet {
    background: url('../../assets/images/friends/friends-spritesheet.png') transparent no-repeat;

    &.icon-friendbar-visit {
        width: 21px; height: 21px;
        background-position: -38px -5px;
    }
    
    &.icon-heart {
        width: 16px; height: 14px;
        background-position: -5px -67px;
    }
    
    &.icon-new-message {
        width: 14px; height: 14px;
        background-position: -96px -53px;
    }
    
    &.icon-none {
        width: 16px; height: 14px;
        background-position: -31px -67px;
    }
    
    &.icon-profile {
        width: 21px; height: 21px;
        background-position: -5px -36px;
    }
    
    &.icon-profile-sm {
        width: 13px; height: 11px;
        background-position: -51px -91px;

        &:hover {
            width: 13px; height: 11px;
            background-position: -74px -91px;
        }
    }
    
    &.icon-smile {
        width: 16px; height: 14px;
        background-position: -57px -67px;
    }
    
    &.icon-warning {
        width: 23px; height: 21px;
        background-position: 0px -5px;
    }
    
    &.icon-accept {
        width: 13px; height: 14px;
        background-position: -5px -91px;
    }
    
    &.icon-add {
        width: 16px; height: 15px;
        background-position: -69px -31px;
    }
    
    &.icon-bobba {
        width: 16px; height: 14px;
        background-position: -96px -5px;
    }
    
    &.icon-chat {
        width: 17px; height: 16px;
        background-position: -69px -5px;
    }
    
    &.icon-deny {
        width: 13px; height: 14px;
        background-position: -28px -91px;
    }
    
    &.icon-follow {
        width: 16px; height: 14px;
        background-position: -96px -29px;
    }
    
    &.icon-friendbar-chat {
        width: 20px; height: 21px;
        background-position: -36px -36px;
    }
}

.messenger-notification-icon {
    background: url('../../assets/images/friends/messenger_notification_icon.png') transparent no-repeat;
    width: 25px; height: 25px;
}

.nitro-friends {
    width: $friends-list-width;
    height: $friends-list-height;

    .friend-search {
        border-radius: 0px;
        border: 1px solid #000;
        height: 20px;

        &:focus-visible {
            outline: none;
        }
    }

    .search-input {
        border: 0;
        border-bottom: 1px solid rgba($black, 0.2);
    }
}

.nitro-friends-room-invite {
    width: $friends-list-width;
}

.nitro-friends-remove-confirmation {
    width: $friends-list-width;
}

.friend-bar {

    .friend-bar-button {
        height: 32px;
        width: 30px;
        z-index: 2;
        border: none;

        &.left {
            background: url(../../assets/flash/toolbar/friendbar_left.png);
            background-position: center;
            margin-right: -4px;

            &:disabled {
                display: none;
            }
        }

        &.right {
            background: url(../../assets/flash/toolbar/friendbar_right.png);
            background-position: center;
            margin-left: -4px;
        }
    }

    .friend-bar-item {
        width: 127px;
        margin: 0 3px;
        z-index: 0;
        position: relative;
        padding-left:42px;
        text-align: left;
        min-height: 36px;
    
        &.friend-bar-item-active {
            margin-bottom:26px;
        }

        &.find-friends {
            border-image-source: url(../../assets/flash/toolbar/findfriend-bg.png);
            border-image-slice:17 17 17 17 fill;
            border-image-width:17px 17px 17px 17px;
            border-image-repeat:repeat repeat;
            color: #fff;

            &:hover {
                border-image-source: url(../../assets/flash/toolbar/findfriend-bg-hover.png);
            }
        }

        &.find-friends-active {
            border-image-source: url(../../assets/flash/toolbar/friend-bg.png);
            border-image-slice:17 17 17 17 fill;
            border-image-width:17px 17px 17px 17px;
            border-image-repeat:repeat repeat;
            min-height: 36px;

            &:hover {
                border-image-source: url(../../assets/flash/toolbar/friend-bg-hover.png);
            }

            .friend-bar-text {
                padding-top: 4px;
            }
        }

        .friend-bar-text {
            overflow: hidden;
            text-overflow: ellipsis;
        //    white-space: nowrap;
            font-size: 13px;
            line-height: 1;
            color: #fff;
            font-family: ubuntuBold;
        }
    
        .friend-bar-item-head {
            &.avatar {
                top: -31px;
                left: -23px;
            }
            &.group {
                top: -5px;
                left: -5px;
            }
    
            pointer-events: none;
        }
    
        &.friend-bar-search {
            .friend-bar-item-head {
                top: -2px;
                left: 6px;
                width: 31px;
                height: 34px;
                background-image: url('../../assets/images/toolbar/friend-search.png');
            } 
        }
    }
}

.nitro-friends-messenger {
    width: $messenger-width;
    height: $messenger-height;
    resize: none;
    font-size: 10px;


    button {
        border: 0px solid transparent;
        background-color: transparent;
    }

    .follow {
        background-image: url('../../assets/flash/messenger/button_follow.png');
        background-repeat: no-repeat;
        width: 21px;
        height: 20px;
    }

    .profile {
        background-image: url('../../assets/flash/messenger/button_profile.png');
        background-repeat: no-repeat;
        width: 30px;
        height: 20px;
    }

    .clear {
        background-image: url('../../assets/flash/boxes/card/mod_close.png');
        background-repeat: no-repeat;
        width: 20px;
        height: 20px;
    }

    .chat-input-form {
        font-size: 12px;
        width: 100%;
        border-image-source: url('../../assets/flash/messenger/chatform.png');
        border-image-slice:10 10 10 10 fill;
        border-image-width:10px 10px 10px 10px;
        border-image-repeat:repeat repeat;
        background: transparent;
        height: 27px;
        position: absolute;
        width: 270px;
        bottom: 14px;
        outline: 0px;
    }

    .thread-message {
        border-image-source: url('../../assets/flash/messenger/chatform.png');
        border-image-slice:10 10 10 10 fill;
        border-image-width:10px 10px 10px 10px;
        border-image-repeat:repeat repeat;
        color: #000;
        font-size: 11px;
    }

    .chat-submit {
        position: absolute;
        right: 12px;
        bottom: 17px;
    }

    .messenger-button {
        border-image-source: url(../../assets/flash/messenger/button.png);
        border-image-slice:6 6 6 6 fill;
        border-image-width:6px 6px 6px 6px;
        border-image-repeat:stretch stretch;
        height: 20px;
        text-shadow: 0px 1px 0px #fff, 1px 0px 1px #aaaaaa;
    }

    .nitro-messenger-header-text {
        color: #5d5d5c;
        text-shadow: 0px 1px 0px #fff, 1px 0px 1px #aaaaaa;
        margin-bottom: 0px;
        background-color: #e2e2e1;
        display: inline-block;
        padding-right: 5px;
    }

    .messenger-line {
        background-image: url('../../assets/flash/messenger/line.png');
        background-repeat: repeat-x;
        background-position: 0 6px;
    }

    .layout-grid-item-messenger {
        height: 39px;
        width: 39px;

        &.active {
            border-image-source: url('../../assets/flash/messenger/avatar_head_bg.png');
            border-image-slice:13 13 13 13 fill;border-image-width:13px 13px 13px 13px;border-image-outset:0px 0px 0px 0px;border-image-repeat:repeat repeat;
        }
    }

    .friend-head {
        width: 50px;
        height: 45px;
        overflow: hidden;

        .avatar-image {
            margin-top: 20px;
            transform: scale(0.5);
        }
    }

    .open-chat-entry {
        position: relative;
        border: 2px solid;
        border-color: $light;

        &.active {
            border-color: #fffde9;
            background-color: #ececec
        }

        .friend-head {
            width: 45px;
            height: 45px;
            overflow: hidden;
    
            .avatar-image {
                position: absolute;
                margin-left: -27px;
                margin-top: -27px;
            }
        }
    }

    .chat-title {
        margin-top: -21px;
    }

    .chat-messages {
        overflow-y: auto;
        max-height: 200px;
        min-height: 200px;

        .message-avatar {
            position: relative;
            overflow: hidden;
            width: 50px;
            height: 50px;

            .avatar-image {
                position: absolute;
                margin-left: -22px;
                margin-top: -25px;
            }
        }

        .username {
            color: #5d5d5c;
            text-shadow: 0px 1px 0px #fff, 1px 0px 1px #aaaaaa;
            margin-bottom: 0px;
            display: inline-block;
            padding-right: 5px;
            float: left;
            margin-top: -20px;
            margin-left: -6px;
        }

        .message-bubble {
            border-image-source: url('../../assets/flash/messenger/message_bubble.png');
            border-image-slice:5 5 5 5 fill;
            border-image-width:5px 5px 5px 5px;
            border-image-repeat:repeat repeat;
            width: 100%;
            font-size: 12px;
        }

        .messages-group-left {
            position: relative;
            
            &:before {
                position: absolute;
                content: ' ';
                width: 5px;
                height: 10px;
                background-image: url('../../assets/flash/messenger/pointer.png');
                top: 15px;
                left: -5px;
            }
        }

        .messages-group-right {
            position: relative;
            
            &:before {
                position: absolute;
                content: ' ';
                width: 5px;
                height: 10px;
                background-image: url('../../assets/flash/messenger/pointer_right.png');
                top: 15px;
                right: -5px;
            }
        }
    }
}
