.nitro-infostand-container {
    position: absolute;
    right: 10px;
    bottom: $toolbar-height + 10px;
    pointer-events: none;
    z-index: $infostand-zindex;
    color: $white;

    .nitro-infostand {
        position: relative;
        min-width: 190px;
        max-width: 190px;
        z-index: $infostand-zindex;
	    pointer-events: auto;
        border-image-source: url(../../../../assets/flash/buttons/toggle_bg.png);
        border-image-slice: 6 6 6 6 fill;
        border-image-width: 6px 6px 6px 6px;
        font-family: Goldfish;
        font-size: 9px;

        .form-control-sm {
            height: 20px;
            min-height: 20px;
            padding: 0.1rem 0.25rem;
            font-size: 9px;
        }

        .infostand-thumb-bg {
            border-image-source: url(../../../../assets/flash/infostand/thumb_bg.png);
            border-image-slice: 6 6 6 6 fill;
            border-image-width: 6px 6px 6px 6px;
        }

        .infostand-close {
            background: url(../../../../assets/flash/infostand/info_close.png);
            width: 13px;
            height: 13px;
            cursor: pointer;
        }

        .body-image {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            max-width: 68px;
            border-radius: $border-radius;

            &.pet {
                max-width: 75px;
            }

            &.bot {
                background-image: url('../../../../assets/images/infostand/bot_background.png');
                background-repeat: no-repeat;
                background-position: center;
            }

            &.furni {
                background-color: transparent;
                margin-right: 0;
            }
        }

        .badge-image {
            width: 45px;
            height: 45px;
        }

        .motto-content {
            min-height: 18px;
            font-family: Goldfish;
        }

        .motto-input {
            width: 100%;
            height: 100%;
            font-size: 12px;
            padding: 0;
            outline: 0;
            border: 0;
            color: rgba($white, 1);
            position: relative;
            background: transparent;
            resize: none;
            font-size: 9px;

            &:focus {
                font-style: italic;
            }
        }
    }

    .button-container {
	    pointer-events: auto;
    }

    .pet-stats {
        height: 18px;
    }
}

.infostand-name {
    cursor: pointer;

    &:hover {
        color: #91c2ff !important;
    }
}
