.nitro-purse-container {
    font-size: $font-size-sm;
    pointer-events: all;
    margin-top: -5px;
    font-size: 12px;

    .nitro-purse {

        .club-text {

            color: #54b7bb;
            
            &:hover {
                filter: brightness(150%);
            }
        }
    
        .nitro-purse-subscription {
            border-image-source: url(../../assets/flash/purse/hc_bg.png);
            border-image-slice: 7 7 7 7 fill;
            border-image-width: 7px 7px 7px 7px;
        }
    
        .nitro-purse-right-button {
            border-image-slice: 4 4 4 4 fill;
            border-image-width: 4px 4px 4px 4px;
            width: 60px;
            height: 20px;

            &.help {
                border-image-source: url(../../assets/flash/purse/help_button.png)
            }

            &.disconnect {
                border-image-source: url(../../assets/flash/purse/disconnect_button.png)
            }

            &.settings {
                border-image-source: url(../../assets/flash/purse/settings_button.png)
            }
        }
    }

    .nitro-purse-seasonal-currency {

        height: 30px;

        .seasonal-padding {
            padding: 7px;
        }

        .seasonal-bold {
            padding-right: 3px;
        }

        .seasonal-amount {
            padding-top: 7px;
            padding-bottom: 7px;
            padding-right: 3px;
            width: 90px;
        }

        .nitro-seasonal-box {
            border-image-slice: 6 6 6 6 fill;
            border-image-width: 6px 6px 6px 6px;
            top: 0px;
            right: 0px;
            height: 100%;
        }

        &.purple {

            .nitro-seasonal-box{
                border-image-source: url(../../assets/flash/purse/seasonal_bg_purple.png);
            }

            .seasonal-bold {
                color: #b17fbe;
            }
        }

        &.bronze {

            .nitro-seasonal-box{
                border-image-source: url(../../assets/flash/purse/seasonal_bg_bronze.png);
            }

            .seasonal-bold {
                color: #d4943c;
            }
        }

        &.pink {

            .nitro-seasonal-box{
                border-image-source: url(../../assets/flash/purse/seasonal_bg_pink.png);
            }

            .seasonal-bold {
                color: #d89ba8;
            }
        }

        &.blue {

            .nitro-seasonal-box{
                border-image-source: url(../../assets/flash/purse/seasonal_bg_blue.png);
            }

            .seasonal-bold {
                color: #95c3e5;
            }
        }

        &.red {

            .nitro-seasonal-box{
                border-image-source: url(../../assets/flash/purse/seasonal_bg_red.png);
            }

            .seasonal-bold {
                color: #ff0004;
            }
        }
    }
}
