.nitro-navigator {
    width: $navigator-width;
    height: $navigator-height;

    .navigator-grid {


        &:not(.two-columns) {

            .navigator-item {
    
                &:nth-child(odd) {
                    background-color: #daecfd;
                }

                &:nth-child(even) {
                    background-color: #fff;
                }

                
            }
        }
    
        &.two-columns {
    
            .navigator-item {
        
                &:nth-child(4n-2),
                &:nth-child(4n-3) {
                    background: $grid-active-bg-color;
                }
            }
        }
    }
}

.nitro-navigator-doorbell,
.nitro-navigator-password {
    width: 250px;
}

.nitro-room-info {
    width: $room-info-width;
}

.nitro-room-link {
    width: 400px;
}

.nitro-room-settings {
    width: 400px;

    .list-container {
        height: 100px;

        .list-item {
            background-color: $grid-active-bg-color;
        }
    }
}


.badge-empty {
    background-image: url(../../assets/flash/navigator/badge_empty.png);
    background-repeat: no-repeat;
    width: 40px;
    height: 19px;
}

.badge-success {
    background-image: url(../../assets/flash/navigator/badge_success.png);
    background-repeat: no-repeat;
    width: 40px;
    height: 19px;
}

.badge-danger {
    background-image: url(../../assets/flash/navigator/badge_danger.png);
    background-repeat: no-repeat;
    width: 40px;
    height: 19px;
}

.badge-warning {
    background-image: url(../../assets/flash/navigator/badge_warning.png);
    background-repeat: no-repeat;
    width: 40px;
    height: 19px;
}

.nav-category {
    font-size: 12px;
    color: #2b577b;
    font-size: var(--bs-body-font-size);
}
