.nitro-navigator {
    height: $navigator-height;
    min-width: $navigator-width;
    max-width: $navigator-width;
    min-height: $navigator-min-height;

    .nav-form {
        width: 275px;
    }

    .navigator-grid {


        &:not(.two-columns) {

            .navigator-item {
    
                &:nth-child(odd) {
                    background-color: #daecfd;
                }

                &:nth-child(even) {
                    background-color: #fff;
                }

                
            }
        }
    
        &.two-columns {
    
            .navigator-item {
        
                &:nth-child(4n-2),
                &:nth-child(4n-3) {
                    background: $grid-active-bg-color;
                }
            }
        }
    }
}

.nitro-navigator-doorbell,
.nitro-navigator-password {
    width: 300px;
}

.nitro-room-info {
    width: $room-info-width;
}

.nitro-room-link {
    width: 400px;
}

.nitro-room-settings {
    width: 400px;

    .list-container {
        height: 100px;

        .list-item {
            background-color: $grid-active-bg-color;
        }
    }
}


.badge-empty {
    background-image: url(../../assets/flash/navigator/badge_empty.png);
    background-repeat: no-repeat;
    width: 40px;
    height: 19px;
    color: #fff;
}

.badge-success {
    background-image: url(../../assets/flash/navigator/badge_success.png);
    background-repeat: no-repeat;
    width: 40px;
    height: 19px;
    color: #fff;
}

.badge-danger {
    background-image: url(../../assets/flash/navigator/badge_danger.png);
    background-repeat: no-repeat;
    width: 40px;
    height: 19px;
    color: #fff;
}

.badge-warning {
    background-image: url(../../assets/flash/navigator/badge_warning.png);
    background-repeat: no-repeat;
    width: 40px;
    height: 19px;
    color: #fff;
}

.nav-category {
    font-size: 12px;
    color: #2b577b;
    font-size: var(--bs-body-font-size);
}

.nav-icons {
    color: #7dd8f6;
}

.minus-icon {
    background-image: url(../../assets/flash/navigator/minus.png);
    background-repeat: no-repeat;
    width: 18px;
    height: 18px;
}

.plus-icon {
    background-image: url(../../assets/flash/navigator/plus.png);
    background-repeat: no-repeat;
    width: 18px;
    height: 18px;
}

.nav-avatar-icon {
    background-image: url(../../assets/flash/navigator/avatar_icon.png);
    background-repeat: no-repeat;
    height: 8px;
    width: 7px;
}

.nav-thumbnail {
    border-image-source: url(../../assets/flash/navigator/thumbnail_bg.png);
    border-image-slice: 7 7 7 7 fill;
    border-image-width: 7px 7px 7px 7px;
}

.nav-create-room {
    background-image: url(../../assets/flash/navigator/create_room.png);
    background-repeat: no-repeat;
    height: 60px;
    width: 189px;
    float: left;
    cursor: pointer;
}

.nav-random-room {
    background-image: url(../../assets/flash/navigator/random_room.png);
    background-repeat: no-repeat;
    height: 60px;
    width: 189px;
    float: right;
    margin-left: 15px;
    cursor: pointer;

}

.nav-bottom {
    max-height: 80px;
    min-height: 80px;
}

.nav-bottom-buttons {
    bottom: 18px;
    left: 10px;
}

.nav-bottom-buttons-text {
    font-size: 12px;

    padding-top: 22px;
    margin-left: 86px;
}


// Room Creator

.nitro-room-creator {
    width: $nitro-room-creator-width;
    height: $nitro-room-creator-height;

    textarea:focus, input:focus {
        outline: none;
    }

    .room-creator-form-name {
        height: 20px;
        border: 1px solid grey;
    }

    .room-creator-form-desc {
        height: 60px;
        border: 1px solid grey;
    }

    .headline {
        font-family: Goldfish-Bold;
    }

    .content-area {
        font-family: Goldfish;
        font-size: 9px;
    }

    .room-creator-info {
        width: 240px;
    }

    .form-select {
        width: 100%;
    }

    .room-creator-grid {
        width: 305px;
    }

}

.room-info {
    width: 275px;
    color: #000;
    image-rendering: pixelated;

    .room-info-bg {
        border-image-source: url(../../assets/flash/navigator/white_bg.png);
        border-image-slice: 6 6 6 6 fill;
        border-image-width: 6px 6px 6px 6px;
    }

}

.navigator-search-button {
    right: 10px;
    top: 11px;
}
