$toolbar-me-zindex: 90;
$chatinput-zindex: 80;
$toolbar-zindex: 70;
$rightside-zindex: 69;
$notification-center-zindex: 68;
$toolbar-memenu-zindex: 75;
$roomtools-zindex: 50;
$context-menu-zindex: 40;
$infostand-zindex: 30;
$quiz-zindex: 21;
$chat-zindex: 20;
$highscore-zindex: 19;

$grid-bg-color: #cdd3d9;
$grid-border-color: $muted;
$grid-active-bg-color: #ececec;
$grid-active-border-color: $white;

$toolbar-height: 55px;

$achievement-width: 375px;
$achievement-height: 405px;

$avatar-editor-width: 660px;
$avatar-editor-height: 470px;

$catalog-width: 570px;
$catalog-height: 635px;

$inventory-width: 528px;
$inventory-height: 320px;

$navigator-width: 425px;
$navigator-height: 560px;
$navigator-min-height: 205px;

$nitro-room-creator-width: 585px;
$nitro-room-creator-height: 365px;

$chat-input-style-selector-widget-width: 210px;
$chat-input-style-selector-widget-height: 500px;

$user-profile-width: 470px;
$user-profile-height: 460px;

$nitro-widget-custom-stack-height-width: 275px;
$nitro-widget-custom-stack-height-height: 220px;

$nitro-widget-exchange-credit-width: 375px;
$nitro-widget-exchange-credit-height: 150px;

$chat-history-width: 300px;
$chat-history-height: 300px;

$friends-list-width: 230px;
$friends-list-height: 350px;

$help-width: 450px;
$help-height: 290px;

$nitropedia-width: 400px;
$nitropedia-height: 400px;

$messenger-width: 285px;
$messenger-height: 385px;

$marketplace-post-offer-width: 430px;
$marketplace-post-offer-height: 250px;

$camera-editor-width: 600px;
$camera-editor-height: 500px;

$camera-checkout-width: 350px;

$room-info-width: 230px;

$nitro-group-creator-width: 383px;
$nitro-mod-tools-width: 170px;

$nitro-group-manager-width: 390px;
$nitro-group-manager-height: 355px;

$nitro-chooser-width: 200px;
$nitro-chooser-height: 200px;

$nitro-doorbell-width: 240px;
$nitro-doorbell-height: 200px;

$nitro-guide-tool-width: 250px;

$nitro-floor-editor-width: 760px;
$nitro-floor-editor-height: 500px;

$nitro-calendar-width: 850px;
$nitro-calendar-height: 400px;

.nitro-app {
    width: 100%;
    height: 100%;
}

@import './common';
@import './components';
