@font-face {
    font-family: Ubuntu;
    src: url('@/assets/webfonts/Ubuntu.woff');
}

@font-face {
    font-family: GameUbuntu;
    src: url('@/assets/webfonts/UbuntuCondensed.woff');
}

@font-face {
    font-family: Goldfish;
    src: url('@/assets/webfonts/Volter.woff');
}

@font-face {
    font-family: Goldfish-Bold;
    src: url('@/assets/webfonts/VolterBold.woff');
}

@font-face {
    font-family: UbuntuItalics;
    src: url('@/assets/webfonts/Ubuntu-i.ttf');
}

@font-face {
    font-family: UbuntuItalicsBold;
    src: url('@/assets/webfonts/UbuntuBoldItalic.woff');
}

@font-face {
    font-family: UbuntuBold;
    src: url('@/assets/webfonts/UbuntuBold.woff');
}

@font-face {
    font-family: UbuntuMedium;
    src: url('@/assets/webfonts/UbuntuSemi.woff');
}
