@font-face {
    font-family: Ubuntu;
    src: url('../webfonts/Ubuntu.woff');
}

@font-face {
    font-family: GameUbuntu;
    src: url('../webfonts/UbuntuCondensed.woff');
}

@font-face {
    font-family: Goldfish;
    src: url('../webfonts/Volter.woff');
}

@font-face {
    font-family: Goldfish-Bold;
    src: url('../webfonts/VolterBold.woff');
}

@font-face {
    font-family: UbuntuItalics;
    src: url('../webfonts/Ubuntu-i.ttf');
}

@font-face {
    font-family: UbuntuItalicsBold;
    src: url('../webfonts/UbuntuBoldItalic.woff');
}

@font-face {
    font-family: UbuntuBold;
    src: url('../webfonts/UbuntuBold.woff');
}

@font-face {
    font-family: UbuntuMedium;
    src: url('../webfonts/UbuntuSemi.woff');
}
