.nitro-slider {
    display: flex;
    align-items: center;
    width: 100%;
    height: 25px;

    .track {
        height: 3px;
        border-radius: $border-radius;
        overflow: hidden;

        &.track-0 {
            background-color: $primary;
        }

        &.track-1 {
            background-color: $muted;
        }
    }

    .thumb {
        border-radius: 50%;
        width: 25px;
        height: 25px;
        background-color: gray;
        font-size: 10px;
        text-align: center;
        line-height: 25px;
        padding: 0 3px;

        &:hover,
        .active {
            cursor: pointer;
        }

        &.active {
            outline: none;
        }

        &.degree {

            &:after {
                content: "\00b0"
            }
        }

        &.percent {

            &:after {
                content: "\0025"
            }
        }
    }
}

.wired-slider {
    display: flex;
    align-items: center;
    width: 100%;
    height: 25px;
    background: url(../flash/wired/slider_track.png);
    background-repeat-y: no-repeat;
    background-position: center left;


    .thumb {
        width: 12px;
        height: 15px;
        background: url(../flash/wired/slider_thumb.png);
        background-repeat: no-repeat;

        &:hover,
        .active {
            cursor: pointer;
        }

        &.active {
            outline: none;
        }

        &.degree {

            &:after {
                content: "\00b0"
            }
        }

        &.percent {

            &:after {
                content: "\0025"
            }
        }
    }
}
